@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
	--primaryColor: #264A46;
	--primaryLight: #517671;
	--primaryDark: #00221f;

	--secondaryColor: #ff7f01;
	--seconaryLight: #ffb043;
	--secondaryDark: #c55000;

	--lightText: #fefefe;
	--darkText: var(--primaryDark);

	--background: #dddddd;
	--backgroundLight: #FFFFFF;
	--backgroundDark: #bebebe;


	--link: var(--backgroundDark);
	--link-hover: var(--backgroundLight);
	--link-visited: var(--secondaryColor);

	--linkmenu: var(--link);
	--linkmenu-hover: var(--link-hover);

	--odd-row: var(--background);
	--even-row: var(--backgroundDark);
}

* {
	padding: 0;
	margin: 0;
}

/* *********** SECRET LINKS 4 ACCESIBILITY *************** */
#skip {
	display: none;
}

/*html = finestra, body = contenuto pagina */
html {
	height: 100%;
	font-size: 100%;
	font-family: "Roboto", sans-serif;
	margin: auto;
	background-color: var(--background);
}

.errSuggestion, .error {
	color: #b40000; /*PRESO DA VALIDATORE*/
}

.defaultText {
	color: gray;
}

/* ***************** BODY ***************** */
body {
	min-height: 100%;
}

a:link {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

a:hover {
	color: var(--link-hover);
}

/* **************************************** */
/* *********** GESTIONE FLEXBOX *********** */
/* **************************************** */
.container1 {
	display: flex;
	flex-direction: column;
	justify-content: normal;

	background-color: var(--background);
}

.container2 {
	flex-direction: column;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;

	color: var(--lightText);
	background-color: var(--primaryColor);
}

.container3 {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: normal;
	flex-wrap: wrap;

	/* border: 2px solid var(--primaryColor); */
	/* border-top: none; */
}

.container3-item {
	flex: 1 1 0;
}


/* ***************** LOGO ***************** */
.logo {
	background-image: url('../images/logo/AMP_light.png');
	min-width: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	text-indent: -999em;
	font-size: 1.5em;
	/* transition: all 0.25s cubic bezier(.19,1,.22,1); */
}

.logobox {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-top: 1em;
	padding-bottom: 1em;
}

.icon {
	font-size: 2em;
}

.icon:link {
	color: var(--linkmenu);
}

.icon:hover {
	color: var(--linkmenu-hover);
}


/* ***************** MENU ***************** */
#menu {
	font-size: 1.3em;
	padding: 0.5em;
	color: var(--lightText);
	list-style: none;

	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#menu li {
	margin-top: 0.5em;
	margin: 0.5em 0.3em 0.3em 0.3em;
}

#menu a:link {
	color: var(--linkmenu);
}

#menu a:hover {
	color: var(--linkmenu-hover);
}

#active {
	font-size: 1.4em;
}

.showMenu {
	display: flex;
}

.hideMenu {
	display: none;
}


/* ************** BREADCRUMB ************** */

#breadcrumb {
	background-color: var(--primaryColor);
	color: var(--lightText);
	border-top: 2px solid var(--background);
	border-bottom: 2px solid var(--background);
	padding: 0.5em 1.0em 0.5em 1.0em;
}

#breadcrumb a:link {
	font-size: 1.2em;
	color: var(--linkmenu);
}

#breadcrumb a:hover {
	color: var(--linkmenu-hover);
}



/* ***************** TABLE **************** */
.tableContainer {
	width: 100%;
}

table {
	align-self: center;

    width: 100%;
    border-spacing: 0;
	font-size: 1.2em;
}

table caption {
    font-size: 1.0em;
    font-weight: bold;
}

thead {
	display: none;
}

tbody {
	display: flex;
	flex-direction: column;
}

tr {
	align-self: center;

	width: 95%;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--primaryColor);
	border-radius: 5px;

	margin-bottom: 0.5em;
}

article>div>table tr {
	background-color: var(--background);
}

table td {
	font-weight: bold;
    padding: 0.25em;
    text-align: center;
    vertical-align: center;
}

thead th {
    padding: 0.5em;
    font-size: 1.1em;
    color: var(--lightText);
    background-color: var(--primaryColor);
}

tbody th {
	padding: 0.25em;
	font-weight: bold;
    text-align: center;
    vertical-align: center;
	color: var(--lightText);
	background-color: var(--primaryColor);
}

td[data-title]:before, th[data-title]:before {
	content: attr(data-title) ":\00A0";
	text-transform: capitalize;
	font-weight: normal;
}

tr[data-title="info"] > a:hover {
	color: var(--secondaryColor);
}


/* ***************** FORM ***************** */
form {
	align-self: center;
	font-size: 1.3em;
}

form legend {
	font-size: 1.3em;
}

form fieldset {
	border: 2px solid var(--primaryColor);
	border-radius: 5px;
	background-color: var(--even-row);
    padding: 0.5em;
    margin: 0.125em;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

article > form fieldset {
	background-color: var(--odd-row);
}

#hint {
	padding: 0;
}

form input {
	min-width: 200px;
	padding: 0.5em;
	display: block;
	border-radius: 5px;
}

form input[readonly] {
	background-color: rgb(212, 212, 206);
	border: 1px solid black;
}

form input[type=checkbox] {
	min-width: auto;
	margin: 0.25em;
}

form input[type=date] {
	background-color: white;
}

form input[type=submit] {
	min-width: 200px;
	align-self: flex-end;

	border: none;
	border-radius: 0.25em;
	background-color: var(--primaryColor);
	color: var(--lightText);
	font-size: 0.9em;
	text-transform: uppercase;

	margin-top: 0.5em;
	padding: 0.5em;

	cursor: pointer;
}

form input[type=submit]:hover {
	color: var(--link-hover);
}

form select {
	align-self: stretch;
	padding: 0.5em;
	display: block;
	border-radius: 5px;
	background-color: white;
}

.input-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.input-container {
	display: flex;
	flex-direction: column;
	padding-top: 0.5em;
	margin: 0em 0.5em 0em 0.5em;
}

#checkboxinput {
	flex-direction: row;
	align-items: center;
}

#checkboxinput a {
	padding: 0em;
}

.errSuggestion {
	font-size: 0.75em;
}

form textarea {
	display: block;
	width: 90%;
	resize: none;
}

/* **************** CONTENT **************** */
.content {
	align-self: center;
	max-width: 1024px;

	display: flex;
	flex-direction: column;
	color: var(--darkText);
}

.content img {
	width: 100%;
	border-radius: 5px;
}

.content h2 {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.content p {
	padding: 1em;
}

.content ul {
	padding-left: 1em;
	list-style-position: inside;
}

.content a:link {
	color: var(--darkText);
}

.content a:visited {
	color: var(--darkText)
}

.content a:hover {
	color: var(--secondaryColor);
}

.content article {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	padding: 0.5em;
	margin: 0.5em;

	background-color: var(--backgroundDark);
	border: 2px solid var(--primaryColor);
  	border-radius: 5px;
}

/* **************** LOGIN **************** */
#contentLogin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contentLogin a {
	padding: 0em;
}

#loginForm fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#loginForm span {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginForm strong {
	text-align: center;
}

#loginForm input[type=submit] {
	align-self: center;
}



/* **************** HOME **************** */
#firstSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5em;
	border: 2px solid var(--primaryColor);
	border-radius: 5px;
}

#firstSection h2 {
	text-align: center;
	font-size: 3em;
	margin-top: 0em;
	padding-bottom: 0.125em;
}

#slogan {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.125em;
}

#topButton {
	width: max-content;
	align-self: flex-end;
	margin: 1em;
	padding: 0.5em;
	color: var(--link);
	text-decoration: none;
	background-color: var(--primaryColor);
	border-radius: 5px;
}

#topButton:link {
	color: var(--link);
}

#topButton:hover {
	color: var(--link-hover);
}

/* **************** TRACCIATI **************** */
.infoTracciato {
	align-self: flex-start;

	display: flex;
	flex-direction: column;

	margin-bottom: 1em;
}

.infoTracciato h2 {
	padding: 0;
}

/* **************** CORSI **************** */
.corsiDescription {
	display: flex;
	flex-direction: column;
}

.corsiDescription img {
	align-self: center;

	width: 80%;
}

.corsiList {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#contentCorsi article {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/* *************** SERVIZI *************** */
#contentServizi img {
	width: 15%;
	padding: 0.5em;
}

#contentServizi article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.infoServizi h2 {
	padding-left: 0.5em;
}


/* *************** NOLEGGIO *************** */
.noleggioDescription {
	display: flex;
	flex-direction: column;
}

.noleggioDescription img {
	align-self: center;

	width: 80%;
}

#contentNoleggio table {
	margin-bottom: 0.5em;
}

/* *************** INGRESSI *************** */
#contentIngressi article {
	flex-direction: column;
	align-items: center;
}

#contentIngressi td {
	align-self: flex-start;
	padding-left: 1em;
}

/* *************** CONTATTI *************** */
#contentContatti article {
	flex-direction: column;
	align-items: center;
}

#formInfo {
	display: flex;
	flex-direction: column;
}

#formInfo ul {
	width: 100%;
}


/* ************ AREA RISERVATA ************ */
.navUser {
	flex: 1 0 0;
	background-color: var(--primaryColor);
	text-align: center;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navUser i {
	display: none;
}

#userIcon {
	border-color: var(--background);
	background-color: var(--background);
	color: var(--darkText);
}

#sideMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	list-style-type: none;
	font-size: 1.3em;
	padding: 0.5em;
	color:var(--lightText);
}

#sideMenu li {
	padding: 0.1em;
}

#sideMenu a:link {
	color:var(--linkmenu);
}

#sideMenu a:hover {
	color:var(--linkmenu-hover);
}

#activeSub {
	font-size: 1.3em;
}

/* ******** CONTENT AREA RISERVATA ******** */
.contentReserved {
	flex: 3 0 0;
	display: flex;
	flex-direction: column;
	color:var(--darkText);
}

.contentReserved h2 {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.contentReserved p {
	padding: 1em;
}

.contentReserved ul {
	padding-left: 1em;
	list-style-position: inside;
}

.contentReserved a:link {
	color: var(--darkText);
}

.contentReserved a:visited {
	color: var(--darkText)
}

.contentReserved a:hover {
	color: var(--secondaryColor);
}

.contentReserved article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	padding: 1em 0.125em 2em 0.125em;
	margin: 0.5em;

	background-color: var(--backgroundDark);
	border: 2px solid var(--primaryColor);
  	border-radius: 5px;
}

.contentReserved img {
	width: 100%;
}

/* GESTIONE TRACCIATI */
#gestioneTracciato h2 {
	align-self: center;
}

/* DETTAGLI MESSAGGIO */
.bold {
	font-weight: bold;
}

.dettaglioMessaggio p {
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
}

#oggettoMsg, #messaggioMsg{
	font-weight: normal;
	padding-left: 1.5em;
}


/* BUTTON */
.button {
	margin: 1em 0em;
	padding: 0.5em 1em 0.5em 1em;
	align-self: center;
	width: fit-content;
	background-color: var(--primaryColor);
	border-radius: 5px;
}

.button:hover {
	background-color: var(--secondaryColor);
}

.button > a:link {
	text-align: center;
	font: 1.3em;
	font-weight: bold;
	color: var(--link-hover);
}

.button > a:visited {
	color: var(--link-hover);
}


/* ****************** 404 ***************** */
#content404 {
	display: flex;
	flex-direction: column;
	align-content: center;

	padding: 1em;

}

#content404 p {
	font-size: larger;
	text-align: center;
}

#easterEgg {
	color: var(--background);
}

#content404 img {
	width: 100%;
}


/* **************** FOOTER **************** */

footer {
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--lightText);
	background-color:var(--primaryColor);
	clear: both;
	text-align: center;
	font-size: 0.8em;
	padding: 0.5em;
	padding-top: 1em;
	border-top: 2px solid var(--background);
}

footer div {
	margin-top: 0.5em;
}

footer p {
	font-style: italic;
	font-size: 1.3em;
}

footer .imgValidCode {
	vertical-align: middle;
	margin: 0.7em 1.0em 0.7em 1.0em;
}

.footerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerInfo img {
	width: 100px;
	padding: 1em;
}

.footerValid {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* ***************** MEDIA **************** */
@media (min-width: 600px) {

	/* CONTAINERS */
	.container2 {
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}

	.container3 {
		flex-direction: row;
	}

	.container3-item {
		padding: 1em;
	}


	/* SECTIONS IN ALL PAGES */
	.logobox {
		width: auto;
	}

	.icon {
		display: none;
	}

	#menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/* FORM */
	form fieldset {
		padding: 0.5em 1em 0.5em 1em;
		margin: 1em;
	}

	/* TABLES */
	.tableContainer {
		align-self: center;

		max-height: 1000px;
		width: 98%;
		overflow-x: auto;
		overflow-y: auto;
	}

	table {
		background-color: var(--background);
		border: 2px solid var(--primaryColor);
		border-radius: 5px;
	}

	thead {
		display: table-header-group;
	}

	tbody {
		display: table-row-group;
	}

	tr {
		width: 100%;
		display: table-row;
		border: none;
		border-radius: 0px;
	}

	tbody th {
		color: var(--darkText);
		background-color: transparent;
	}

	table th,td {
		border-top: 2px solid var(--primaryColor);
	}

	table td {
		font-weight: normal;
	}

	td[data-title]:before, th[data-title]:before {
		content: "";
	}

	table tr:nth-child(even) {
		background-color: var(--even-row);
	}

	table tr:nth-child(odd) {
		background-color: var(--odd-row);
	}


	/* CONTENT */
	.content article {
		justify-content: center;
		flex-direction: row;
		align-items: center;
	}

	.content img {
		width: 40%;
	}

	/* FORM */
	form select {
		width: auto;
	}

	/* SPECIFIC PAGES */

	/* HOMEPAGE */

	/* TRACCIATI */
	#contentTracciati article {
		justify-content: space-between;
	}

	#contentTracciati img {
		width: 40%;
		height: 100%;
		object-fit: scale-down;
	}

	.infoTracciato {
		padding-right: 1em;
	}

	.infoTracciato ul {
		padding: 0.5em 1em;
	}

	.infoTracciato h2 {
		padding-left: 0.5em;
	}

	/* SERVIZI */

	/* CORSI */
	.corsiDescription {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
	}

	.corsiDescription img {
		align-self: center;

		width: 40%;
	}

	.corsiList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.corsiList article {
		flex: 1 1 350px;
	}

	/* NOLEGGIO */
	.noleggioDescription {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
	}

	.noleggioDescription img {
		align-self: center;

		width: 40%;
	}

	/* CONTATTI */
	#contentContatti article {
		flex-direction: column;
		align-items: center;
	}

	#formInfo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	#formInfo fieldset {
		flex: 1 1 390px;
	}


	/* AREE RISERVATE */
	.navUser {
		min-width: 290px;
		flex-direction: column;
		justify-content: flex-start;
	}

	.navUser i {
		display: block;
		align-self: center;

		min-width: 1em;
		min-height: 1em;

		background-color: var(--background);
		color: var(--darkText);
		font-size: 4em;
		text-align: center;
		border: 0.3em solid var(--background);
		border-radius: 50%;
	}

	.contentReserved {
		min-width: 500px;
	}

	.contentReserved article {
		padding: 1em 1em 2em 1em;
		margin: 0.5em;
	}

	/* ADMIN */
	/* GESTIONE TRACCIATO */
	#gestioneTracciato h2 {
		align-self: flex-start;
	}



	/* FOOTER */
	.footerValid {
		flex-direction: row;
	}
}
