@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
	--mainColor: 255, 127, 1;
	--mainDarkColor: 38, 74, 70;
	--mainWhite: 254, 254, 254;
	--mainGrey: 198, 198, 198;


	--primaryBackground: rgba(var(--mainColor), 0.2);
	--secondaryBackground: rgba(var(--mainColor), 0.3);
	--darkBackground: rgb(var(--mainDarkColor));

	--lightText: rgb(var(--mainWhite));
	--darkText: rgb(var(--mainDarkColor));;

	--linkmenu: var(--link)/*#DFDFDD*/;
	--linkmenu-hover: var(--link-hover)/*rgb(255, 250, 240)*/;
	--link: rgb(var(--mainGrey));
	--link-hover: rgb(255, 250, 240);
	--link-visited: rgb(var(--mainColor));

	--odd-row: rgba(var(--mainWhite), 0.2);
	--even-row: rgba(var(--mainWhite), 0.7);
}

* {
	padding: 0;
	margin: 0;
}

/* *********** SECRET LINKS 4 ACCESIBILITY *************** */
#skip {
	display: none;
}

/*html = finestra, body = contenuto pagina */
html {
	max-width: 1024px;
	height: 100%;
	font-size: 100%;
	font-family: "Roboto", sans-serif;
	margin: auto;
	background-color: var(--primaryBackground);
}

.errSuggestion, .error {
	color: #940000; /*PRESO DA VALIDATORE*/
}

.defaultText {
	color: gray;
}

/* ***************** BODY ***************** */
body {
	display: flex;
	flex-direction: column;
	justify-content: normal;
	min-height: 100%;
}

a:link {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

a:hover {
	color: var(--link-hover);
}

/* **************************************** */
/* *********** GESTIONE FLEXBOX *********** */
/* **************************************** */
.container1 {
	flex: 100 0 0;
	display: flex;
	flex-direction: column;

	background-color: var(--primaryBackground);
}

.container2 {
	flex-direction: column;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;

	color: var(--lightText);
	background-color: var(--darkBackground);
}

.container3 {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: normal;
	flex-wrap: wrap;

	border: 2px solid var(--darkBackground);
	border-top: none;
}

.container3-item {
	flex: 1 1 0;
	padding: 1em;
}


/* ***************** LOGO ***************** */
.logo {
	background-image: url('../images/logo/AMP_light.png');
	min-width: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	text-indent: -999em;
	font-size: 1.5em;
	/* transition: all 0.25s cubic bezier(.19,1,.22,1); */
}

.logobox {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-top: 1em;
	padding-bottom: 1em;
}

.icon {
	font-size: 2em;
}

.icon:link {
	color: var(--linkmenu);
}

.icon:hover {
	color: var(--linkmenu-hover);
}


/* ***************** MENU ***************** */
#menu {
	font-size: 1.3em;
	padding: 0.5em;
	color: var(--lightText);
	list-style: none;

	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#menu li {
	margin-top: 0.5em;
	margin: 0.5em 0.3em 0.3em 0.3em;
}

#menu a:link {
	color: var(--linkmenu);
}

#menu a:hover {
	color: var(--linkmenu-hover);
}

#active {
	font-size: 1.4em;
}

.showMenu {
	display: flex;
}

.hideMenu {
	display: none;
}


/* ************** BREADCRUMB ************** */

#breadcrumb {
	background-color: var(--darkBackground);
	color: var(--lightText);
	border-top: 2px solid var(--primaryBackground);
	border-bottom: 2px solid var(--primaryBackground);
	padding: 0.5em 1.0em 0.5em 1.0em;
}

#breadcrumb a:link {
	font-size: 1.2em;
	color: var(--linkmenu);
}

#breadcrumb a:hover {
	color: var(--linkmenu-hover);
}



/* ***************** TABLE **************** */
.tableContainer {
	width: 100%;
}

table {
	align-self: center;

    width: 100%;
    border-spacing: 0;
	font-size: 1.2em;
}

table caption {
    font-size: 1.0em;
    font-weight: bold;
}

thead {
	display: none;
}

tbody {
	display: flex;
	flex-direction: column;
}

tr {
	align-self: center;

	width: 95%;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--darkBackground);
	border-radius: 5px;
	background-color: var(--secondaryBackground);

	margin-bottom: 0.5em;
}

article>div>table tr {
	background-color: var(--primaryBackground);
}

/* tbody > tr:hover {
	opacity: 0.5;
} */

table td {
	font-weight: bold;
    padding: 0.25em;
    text-align: center;
    vertical-align: center;
}

thead th {
    padding: 0.5em;
    font-size: 1.1em;
    color: var(--lightText);
    background-color: var(--darkBackground);
}

tbody th {
	padding: 0.25em;
	font-weight: bold;
    text-align: center;
    vertical-align: center;
	color: var(--lightText);
	background-color: var(--darkBackground);
}

td[data-title]:before, th[data-title]:before {
	content: attr(data-title) ":\00A0";
	text-transform: capitalize;
	font-weight: normal;
}

tbody a:hover {
	color: var(--link-hover);
}





/* ***************** FORM ***************** */
form {
	align-self: center;
	font-size: 1.3em;
}

form legend {
	font-size: 1.3em;
}

form fieldset {
	border: 2px solid var(--darkBackground);
	border-radius: 5px;
	background-color: var(--odd-row);
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

article>form fieldset {
	background-color: var(--odd-row);
}

form input {
	min-width: 200px;
	padding: 0.5em;
	display: block;
	border-radius: 5px;
}

form input[readonly] {
	background-color: rgb(212, 212, 206);
	border: 1px solid black;
}

form input[type=checkbox] {
	min-width: auto;
	margin: 0.25em;
}

form input[type=date] {
	background-color: white;
}

form input[type=submit] {
	min-width: 200px;
	align-self: flex-end;

	border: none;
	border-radius: 0.25em;
	background-color: var(--darkBackground);
	color: var(--lightText);
	font-size: 0.9em;
	text-transform: uppercase;

	margin-top: 0.5em;
	padding: 0.5em;


	cursor: pointer;
}

form input[type=submit]:hover {
	color: var(--link-hover);
}

form select {
	/* width: fit-content; */
	align-self: stretch;
	padding: 0.5em;
	display: block;
	border-radius: 5px;
	background-color: white;
}

.input-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.input-container {
	display: flex;
	flex-direction: column;
	padding-top: 0.5em;
	margin: 0em 0.5em 0em 0.5em;
}

#checkboxinput {
	flex-direction: row;
	align-items: center;
}

#checkboxinput a {
	padding: 0em;
}

.errSuggestion {
	font-size: 0.75em;
}

form textarea {
	display: block;
	width: 100%;
}

/* **************** CONTENT **************** */
.content {
	display: flex;
	flex-direction: column;
	color: var(--darkText);
}

.content img {
	width: 100%;
	border-radius: 5px;
}

.content h2 {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.content p {
	padding: 1em;
}

.content ul {
	padding-left: 1em;
	list-style-position: inside;
}

.content a:link {
	color: var(--darkText);
}

.content a:visited {
	color: var(--darkBackground)
}

.content a:hover {
	color: var(--link-hover);
}

.content article {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	padding: 0.5em;
	margin: 0.5em;

	background-color: var(--secondaryBackground);
	border: 2px solid var(--darkBackground);
  	border-radius: 5px;
}

/* **************** LOGIN **************** */
#contentLogin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contentLogin a {
	padding: 0em;
}

#loginForm fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#loginForm span {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginForm strong {
	text-align: center;
}

#loginForm input[type=submit] {
	align-self: center;
}



/* **************** HOME **************** */
#firstSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5em;
	border: 2px solid var(--darkBackground);
	border-radius: 5px;
}

#firstSection h2 {
	text-align: center;
	font-size: 3em;
	margin-top: 0em;
	padding-bottom: 0.125em;
}

#slogan {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.125em;
}

#topButton {
	width: max-content;
	align-self: flex-end;
	margin: 1em;
	padding: 0.5em;
	color: var(--link);
	text-decoration: none;
	background-color: var(--darkBackground);
	border-radius: 5px;
}

#topButton:link {
	color: var(--link);
}

#topButton:hover {
	color: var(--link-hover);
}

/* **************** TRACCIATI **************** */
.infoTracciato {
	align-self: flex-start;

	display: flex;
	flex-direction: column;

	margin-bottom: 1em;
}

.infoTracciato h2 {
	padding: 0;
}

/* **************** CORSI **************** */
.corsiDescription {
	display: flex;
	flex-direction: column;
}

.corsiDescription img {
	align-self: center;

	width: 80%;
}

.corsiList {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#contentCorsi article {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/* *************** SERVIZI *************** */
#contentServizi img {
	width: 15%;
	padding: 0.5em;
}

#contentServizi article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.infoServizi h2 {
	padding-left: 0.5em;
}

/* *************** NOLEGGIO *************** */
.noleggioDescription {
	display: flex;
	flex-direction: column;
}

.noleggioDescription img {
	align-self: center;

	width: 80%;
}

#contentNoleggio table {
	margin-bottom: 0.5em;
}

/* *************** INGRESSI *************** */
#contentIngressi article {
	flex-direction: column;
	align-items: center;
}

#contentIngressi td {
	align-self: flex-start;
	padding-left: 1em;
}

/* *************** CONTATTI *************** */
#contentContatti article {
	flex-direction: column;
	align-items: center;
}

#formInfo {
	display: flex;
	flex-direction: column;
}


/* ************ AREA RISERVATA ************ */
.navUser {
	flex: 1 0 0;
	background-color: var(--darkBackground);
	text-align: center;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.navUser i {
	display: none;
}

#userIcon {
	background-color: rgb(var(--mainColor));
	color: var(--darkText);
}

#sideMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	list-style-type: none;
	font-size: 1.3em;
	padding: 0.5em;
	color:var(--lightText);
}

#sideMenu li {
	padding: 0.1em;
}

#sideMenu a:link {
	color:var(--linkmenu);
}

#sideMenu a:hover {
	color:var(--linkmenu-hover);
}

#activeSub {
	font-size: 1.3em;
}

/* ******** CONTENT AREA RISERVATA ******** */
.contentReserved {
	flex: 3 0 0;
	display: flex;
	flex-direction: column;
	color:var(--darkBackground);
}

.contentReserved h2 {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.contentReserved p {
	padding: 1em;
}

.contentReserved ul {
	padding-left: 1em;
	list-style-position: inside;
}

.contentReserved a {
	color: var(--darkText);
}

.contentReserved a:hover {
	color: var(--link-hover);
}

.contentReserved article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	padding: 1em 1em 2em 1em;
	margin: 0.5em;

	background-color: var(--secondaryBackground);
	border: 2px solid var(--darkBackground);
  	border-radius: 5px;
}

.contentReserved img {
	width: 100%;
}

/* GESTIONE TRACCIATI */
#gestioneTracciato h2 {
	align-self: center;
}

/* DETTAGLI MESSAGGIO */
.bold {
	font-weight: bold;
}

.dettaglioMessaggio p {
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
}

#oggetto, #messaggio{
	font-weight: normal;
	padding-left: 1.5em;
}


/* BUTTON */
.button {
	margin: 1em 0em;
	padding: 0.5em 1em 0.5em 1em;
	align-self: center;
	width: fit-content;
	background-color: var(--darkBackground);
	border-radius: 5px;
}

.button > a {
	text-decoration: none;
}

.button > a:link {
	text-align: center;
	font: 1.3em;
	font-weight: bold;
	color: var(--link-hover);
}

.button > a:visited {
	color: var(--link-hover);
}

.button > a:hover {
	color: var(--link-hover);
}


/* ****************** 404 ***************** */
#content404 {
	display: flex;
	flex-direction: column;
	align-content: center;
}

#content404 p {
	text-align: center;
}


/* **************** FOOTER **************** */

footer {
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--lightText);
	background-color:var(--darkBackground);
	clear: both;
	text-align: center;
	font-size: 0.8em;
	padding: 0.5em;
	padding-top: 1em;
	border-top: 2px solid var(--secondaryBackground);
}

footer div {
	margin-top: 0.5em;
}

footer p {
	font-style: italic;
	font-size: 1.3em;
}

footer .imgValidCode {
	vertical-align: middle;
	margin: 0.7em 1.0em 0.7em 1.0em;
}

.footerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerInfo img {
	width: 100px;
	padding: 1em;
}

.footerValid {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* ***************** MEDIA **************** */
@media (min-width: 600px) {

	/* CONTAINERS */
	.container1-item {
		border-right: 2px solid var(--darkBackground);
		border-left: 2px solid var(--darkBackground);
	}

	.container2 {
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}

	.container3 {
		flex-direction: row;
	}


	/* SECTIONS IN ALL PAGES */
	.logobox {
		width: auto;
	}

	.icon {
		display: none;
	}

	#menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/* TABLES */
	.tableContainer {
		align-self: center;

		max-height: 1000px;
		width: 98%;
		overflow-x: auto;
		overflow-y: auto;
	}

	table {
		background-color: var(--primaryBackground);
		border: 2px solid var(--darkBackground);
		border-radius: 5px;
	}

	thead {
		display: table-header-group;
	}

	tbody {
		display: table-row-group;
	}

	tr {
		width: 100%;
		display: table-row;
		border: none;
		border-radius: none;
	}

	tbody th {
		color: var(--darkText);
		background-color: transparent;
	}

	table th,td {
		border-top: 2px solid var(--darkBackground);
	}

	table td {
		font-weight: normal;
	}

	td[data-title]:before, th[data-title]:before {
		content: "";
	}

	table tr:nth-child(even) {
		background-color: var(--odd-row);
	}

	table tr:nth-child(odd) {
		background-color: var(--even-row);
	}


	/* CONTENT */
	.content article {
		justify-content: center;
		flex-direction: row;
		align-items: center;
	}

	.content img {
		width: 40%;
	}

	/* FORM */
	form select {
		width: auto;
	}

	/* SPECIFIC PAGES */

	/* HOMEPAGE */

	/* TRACCIATI */
	#contentTracciati article {
		justify-content: space-between;
	}

	.infoTracciato {
		padding-right: 1em;
	}

	.infoTracciato ul {
		padding: 0.5em 1em;
	}

	.infoTracciato h2 {
		padding-left: 0.5em;
	}

	/* SERVIZI */

	/* CORSI */
	.corsiDescription {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
	}

	.corsiDescription img {
		align-self: center;

		width: 40%;
	}

	.corsiList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.corsiList article {
		flex: 1 1 350px;
	}

	/* NOLEGGIO */
	.noleggioDescription {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
	}

	.noleggioDescription img {
		align-self: center;

		width: 40%;
	}

	/* CONTATTI */
	#contentContatti article {
		flex-direction: column;
		align-items: center;
	}

	#formInfo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	#formInfo fieldset {
		width: 40%;
	}


	/* AREE RISERVATE */
	.navUser {
		min-width: 290px;
		flex-direction: column;
		justify-content: flex-start;
	}

	.navUser i {
		display: block;
		align-self: center;

		min-width: 1em;
		min-height: 1em;

		background-color: var(--primaryBackground);
		color: var(--darkText);
		font-size: 4em;
		text-align: center;
		border: 0.3em solid var(--primaryBackground);
		border-radius: 50%;
	}

	.contentReserved {
		min-width: 500px;
	}

	/* ADMIN */
	/* GESTIONE TRACCIATO */
	#gestioneTracciato h2 {
		align-self: flex-start;
	}



	/* FOOTER */
	.footerValid {
		flex-direction: row;
	}
}
