/* 
	icona da utilizzare per profilo
	<i class="fa-solid fa-a"></i>
	da modificare l'ultima lettera
	e fare il replace su _userIcon_
*/

* {
	padding: 0;
	margin: 0;
}

/*html = finestra, body = contenuto pagina */
html {
	height: 100%;
	font-size: 100%;
	font-family: "Roboto";
	margin: auto;
}

.errSuggestion {
	color: red;
}

.defaultText {
	color: gray;
}

/* ***************** BODY ***************** */
body {
	display: flex;
	flex-direction: column;
	justify-content: normal;
	min-height: 100%;
}

/* **************************************** */
/* *********** GESTIONE FLEXBOX *********** */
/* **************************************** */
.container1 {
	flex: 100 0 0;
	display: flex;
	flex-direction: column;

	border: 3px solid rgb(225, 0, 255);

	background-color: rgb(247, 248, 234);
}

.container1-item {
	border: 1px solid rgb(38, 74, 70);
}

.container2 {
	flex-direction: row;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;

	color: rgb(247, 248, 234);
	background-color: rgb(38, 74, 70);

	/* border: 3px solid rgb(0, 255, 76); */
}

.container3 {
	flex-grow: 1;

	flex-direction: row;
	display: flex;
	justify-content: normal;

	border: 1px solid rgb(38, 74, 70);

	border: 3px solid rgb(60, 255, 0);
}

.container3-item {
	flex: 1 1 0;
	padding: 1em;
	

	border: 1px solid rgb(38, 74, 70);
}


/* ****************** NAV ***************** */
/* ***************** LOGO ***************** */


/* ***************** MENU ***************** */
#menu {
	list-style-type: none;
	font-size: 1.3em;
	padding: 0.5em;
	color:rgb(247, 248, 234);
}

#menu li {
	display: inline;
	margin-top: 0.5em;
	margin: 0.5em 0.3em 0.3em 0.3em;

}

#menu a {
	color:rgb(185, 185, 180);
	text-decoration: none;
}

#menu a:hover {
	color:rgb(247, 248, 234);
	text-decoration: none;
}

#active {
	font-size: 1.4em;
}

/* ************** BREADCRUMB ************** */

#breadcrumb {
	background-color: rgb(227, 230, 181);
	color: black;
	padding: 0.5em 0em 0.5em 1.0em;
}

#breadcrumb a:visited {
	color: rgb(38, 74, 70);
}

#breadcrumb a {
	font-size: 1.2em;
	color: rgb(38, 74, 70);
	text-decoration: underline;
}



/* ************ AREA RISERVATA ************ */
.navUser {
	min-width: 230px;
	flex: 0.5 0 0;

	display: flex;
	flex-direction: column;
}

.navUser i {
	align-self: center;
}

#sideMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	list-style-type: none;
	font-size: 1.3em;
	padding: 0.5em;
	color:rgb(38, 74, 70);
}

#sideMenu li {
	padding: 0.1em;
}

#sideMenu a {
	color: rgb(65, 75, 74);
	text-decoration: none;
}

#sideMenu a:hover {
	font-size: 1.4em;
	color:rgb(38, 74, 70);
	text-decoration: none;
}

#activeSub {
	font-size: 1.4em;
}

#activeSub :hover {
	font-size: 1.4em;
}


/* ******** CONTENT AREA RISERVATA ******** */
.contentUser {
	flex: 3 0 0;
	color:rgb(38, 74, 70);
}

.contentUser a {
	color: rgb(38, 74, 70);
}

.contentUser p {
	color: rgb(0,0,0);
}


.contentAdmin {
	flex: 3 0 0;
	color:rgb(38, 74, 70);
}

.contentAdmin a {
	color: rgb(38, 74, 70);
}

.contentAdmin p {
	color: rgb(0,0,0);
}

.contentAdmin ul {
	list-style-type: circle;
	list-style-position: inside;
	color: rgb(0,0,0);
}




/* **************** FOOTER **************** */

footer {
	flex: 0 0 0; 
	color: rgb(247, 248, 234);
	background-color:rgb(38, 74, 70);
	clear: both;
	text-align: center;
	font-size: 0.8em;
	padding: 0.5em;
}

footer p, footer .imgValidCode{
	display: inline;
}

footer p {
	font-style: italic;
}

footer .imgValidCode {
	vertical-align: middle;
	margin: 0.7em 1.0em 0.7em 1.0em;
}
