.container-vertical {
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html, body {
	font-size: 100%;
	font-family: "Roboto", cursive, sans-serif;
	margin: auto;
	max-width: 1024px;
}

body {
  background-color: rgb(247, 248, 234);
  color: rgb(38, 74, 70);
  margin: auto;
}

header {
  font-size: 0.8em;
  color: rgb(247, 248, 234);
}

#menuList ul li{
  display: inline;
  margin: 5px;
  list-style-type: none;
  color: rgb(247, 248, 234);
}

#menuList a {
  color: rgb(247, 248, 234);
}

#menu {
  padding: 0 1em;
  background-color: rgb(38, 74, 70);
}

#breadcrumb {
  padding: 0 1em;
  background-color: rgb(227, 230, 181);
}

#contentHome {
  padding: 0 1em;
}

#slogan {
  text-align: center;
  font-style: italic;
}

#firstImg {
  width: 50%;
  margin-left: 25%;
}

.imgHome {
  width: 40%;
  height: 30%;
}

article p {
  padding-right: 1em;
}

footer {
  font-size: 0.8em;
  margin-top: 10px;
  padding: 1em;
  background-color: rgb(38, 74, 70);
  color: rgb(247, 248, 234);
  text-align: center;
}

footer .imgValidCode {
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.7em;
}

.footerValid p {
	display: inline;
	font-style: italic;
}
